.aboutMeWrapper {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.titleNavigation {
    margin: 50px;
    font-family: robotoWeb;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #595959;

}

.phraseAboutMe {
    font-family: robotoWeb;
    text-align: center;
    width: 70%;
    font-size: 45px;
    margin-bottom: 30px;
}

.knowMe {
    font-size: 20px;
    font-family: robotoWeb;
    color: #9A9A9A;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.presentationParagraph {
    font-family: robotoWeb;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    width: 60%;
}

.paragraphWrapper {
    text-align: justify;
    font-family: robotoWeb;
}

.paragraph1 {
    margin-bottom: 40px;
}

.flexTitleAndList {
    margin-bottom: 10px;
}

.flexListImg {
    display: flex;
    flex-direction: column;

}

.flexlistAndImg {
    /* display: flex;
    justify-content: space-between; */
    margin-top: 20px;
}

.imgAlvaroWrapp {
    margin:40px;
    text-align: center;
}

.imgAlvaroTrainer {
    width: 250px;
    height: 250px;
    border-radius: 130px;
    
}

.paragraph2 {
    margin-bottom: 20px;
}

.italicText{
    font-style: italic;
}

.list2AboutMe{
    margin-bottom: 30px;
}