.aboutMeWrapper {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.titleNavigation {
    margin: 50px;
    font-family: robotoWeb;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #595959;

}

.phraseAboutMe {
    font-family: robotoWeb;
    text-align: center;
    width: 70%;
    font-size: 45px;
    margin-bottom: 30px;
}

.knowMe {
    font-size: 20px;
    font-family: robotoWeb;
    color: #9A9A9A;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.presentationParagraph {
    font-family: robotoWeb;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    width: 60%;
}

.paragraphWrapper {
    text-align: justify;
    font-family: robotoWeb;
}

.paragraph1 {
    margin-bottom: 40px;
}

.flexTitleAndList {
    margin-bottom: 10px;
}

.flexListImg {
    display: flex;
    flex-direction: column;

}

.flexlistAndImg {
    margin-top: 10px;
    margin-bottom: 30px;
}

.imgAlvaroWrapp {
    margin: 40px;
    text-align: center;
}

.imgAlvaroTrainer {
    width: 250px;
    height: 250px;
    border-radius: 130px;

}

.paragraph2 {
    margin-bottom: 20px;
}

.italicText {
    font-style: italic;
}

.list2AboutMe {
    margin-bottom: 30px;
}


/* Media Query */


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .phraseAboutMe {
        font-size: 30px;
    }

    .presentationParagraph {
        width: 80%;
        font-size: 25px;
    }

}

@media only screen and (max-width: 767px) {
    .aboutMeWrapper {
        width: 100%;
        margin: 0px;
    }

    .titleNavigation {
        margin: 40px;
    }

    p.phraseAboutMe {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .knowMe {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .presentationParagraph {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .imgAlvaroTrainer {
        width: 150px;
        height: 150px;
    }

    .paragraph1,
    .paragraph2 {
        font-size: 14px;
        margin: 20px;
    }

    .flexTitleAndList {
        text-align: center;
    }

    .listStudy {
        text-align: left;
        font-size: 13px;
    }

    .unorderlistWorkingCode {
        padding: 25px;
    }

    .listStudyCode {
        font-size: 14px;
        text-align: left;
        list-style: none;

    }

    .italicText {
        text-align: left;
        font-size: 12px;
    }
}