.contactWrapper {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 58px 0px rgba(0, 0, 0, 0.584);
    padding: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.titleContact {
    font-family: barlowCondensed;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    font-size: 25px;
    color: #393939;
}

.listWrapperContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}

.linkSocialContact {
    width: 100%;
    font-family: barlow;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;

}

.linkContact {
    text-decoration: none;
    color: #06233B;
    font-size: 22px;
}

.iconContact {
    font-size: 30px;
    margin-right: 10px;
    color: #1b1a1a;
    filter: drop-shadow(0px 0px 10px rgb(64, 149, 175));
}

.buttonContact {
    border-radius: 10px;
    border: none;
    width: 90%;
    height: 50px;
    padding-top: 2px;
    overflow: hidden;
    transition: 1s all ease;
}

.buttonContact:hover {
    box-shadow: 0px 0px 10px 0px rgb(56, 56, 56);
}

.imgContact1 {
    width: 400px;
    height: 500px;
    position: absolute;
    margin-left: 300px;
    transform: rotate(20deg);

}

.imgContact2 {
    width: 380px;
    height: 350px;
    border-radius: 100%;
    position: absolute;
    margin-left: 300px;
    margin-top: 100px;
}




/* Medias Query */



@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .imgContact1,
    .imgContact2{
        display: none;
    }
    .contactWrapper{
        width: 50%;
    }
}


@media only screen and (max-width: 767px) {
    .imgContact1,
    .imgContact2{
        display: none;
    }

    .contactWrapper{
        width: 90%;
        z-index:0;

    }

    .listWrapperContact{
        padding: 0;
    }

    .linkSocialContact{
        text-align: center;
        margin:auto;
        margin-bottom: 10px;
    }
    .buttonContact{
        text-align: center;
        width: 100%;
        padding: 0;
    }


}
