.subtitleTrainingAndCode {
    font-size: 50px;
    font-family: barlowCondensed;
    color: #A9A9A9;
    text-transform: uppercase;
}

.paragraphTC {
    width: 50%;
    margin: 30px;
}

.parag1 {
    margin-bottom: 20px;
}

.blogFlexWrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.codeArea,
.trainingArea {
    width: 100%;
    text-align: center;
}

.titleArea {
    font-family: robotoWeb;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #282828;
    margin-bottom: 20px;
}

.buttonCodeArea,
.buttonTrainingArea {
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttonTrainingArea {
    background-color: #06233B;
}

.buttonTrainingArea:hover {
    background-color: #18469a;
}

.buttonCodeArea {
    background-color: #b2b2b2;
}

.linkArea,
.linkAreaCode {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: barlowCondensed;
    font-size: 18px;
}

.linkAreaCode {
    color: #06233B;
}

.desabledTraining {
    background-color: rgba(7, 25, 83, 0.397);
}

.desabledTraining:hover {
    background-color: rgba(7, 25, 83, 0.397);
}

.desabledCode {
    background-color: rgba(186, 186, 186, 0.397);
}

.linkAreaCode {
    color: #06233b62;
}

.blogProxi {
    font-family: robotoWeb;
    margin: 30px;
}




/* Medias Query */




@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .subtitleTrainingAndCode {
        font-size: 25px;
    }

    .parag1 {
        text-align: justify;
    }

    .blogFlexWrapper {
        justify-content: center;
    }

    .buttonTrainingArea,
    .buttonCodeArea {
        width: 95%;
    }
}


@media only screen and (max-width: 767px) {
    .subtitleTrainingAndCode {
        font-size: 18px;
        text-align: center;
        margin: 20px;
    }

    .paragraphTC {
        width: 80%;
        text-align: justify;
    }

    .blogFlexWrapper {
        flex-direction: column;
        width: 80%;
    }

    .buttonCodeArea,
    .buttonTrainingArea {
        width: 100%;
    }

    .blogProxi {
        text-align: center;
    }
}