.buildWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60vh;
    margin: 50px;
}

.imgBuildIt{
    width: 30%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buildTitle{
    font-family: robotoWeb;
    font-size: 50px;
    margin-bottom:30px ;
}

.linkComeBackDesignsWrapper {
    margin: 30px;
}

.linkComeBackWebProjects,
.linkComeBackDesigns {
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: barlowCondensed;
    color: rgb(98, 98, 98);
    margin-bottom: 30px;
}

.linkComeBackWebProjects:hover,
.linkComeBackDesigns:hover {
    filter: drop-shadow(1px 1px 4px black);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .imgBuildIt{
        width: 300px;
    }
    .buildTitle{
        text-align: center;
        font-size: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .imgBuildIt{
        width: 90%;
    }
    .buildTitle{
        font-size: 30px;
        text-align: center;
    }
}