.footerWrapper{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px ;
    background-color: #292F33;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.organizationFooter{
    width: 700px;
}

.unorderListFooter{
    display: flex;
   justify-content: space-between;
}

.footerList{
    text-decoration: none;
    font-family: robotoWeb;
    text-transform: uppercase;
    color: lightgray;
    font-weight: bold;
}

.footerParag{
    margin-top: 8px;
}
.textFooter{
    font-family: Monserrat;
    color: #595959;
    text-transform: uppercase;
}
/* Media Query */


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .textFooter{
        font-size: 15px;
        margin: auto;
        width: 70%;
        text-align: center;
    }
}


@media only screen and (max-width: 767px) {
    .footerWrapper{
        height: 100px;
    }
    .unorderListFooter{
        display: none;
    }

    .footerParag{
        text-align: center;
        font-size: 10px;
        margin: 25px;
    }
}