.squareGreen,
.squareRed,
.squareWhite{
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    padding-top: 3px;
}


.squareGreen{
    background-color:#009045 ;
}
.squareRed{
    background-color:#BF0411;
}

.squareWhite{
    background-color: #FFFFFF;
    color:black;
    border: 1px solid black;
}

.cardDesignWrapperCoviran{
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    text-align: center;
    margin-bottom: 30px;
}
.cardImageCoviran{
    width: 70%;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
}

@media only screen and (max-width: 767px) {
    .cardDesignWrapperCoviran{
        margin-top: 20px;
        width: 100%;
    }


    .cardImageCoviran{
        width: 100%;
    }
}