.cardDesignWrapperExercise{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.imgDesignEjercicio{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
}

@media only screen and (max-width: 767px) {
    .cardDesignWrapperExercise{
        width: 90%;
    }
    .imgDesignEjercicio{
        width: 100%;
    }
}