.squareGreenPadel,
.squareBluePadel{
    background-color: #8b8900;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    padding-top: 3px;
}

.squareGreenPadel{
    background-color: #6ede29;
}
.squareBluePadel{
    background-color: #0d003b;
}
.cardDesignWrapperPadelManager{
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    text-align: center;
    margin-bottom: 30px;
}

.cardDesignFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardImagePadelManagerDesign{
    width: 30%;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
    margin: 30px;
}
.cardImagePadelManagerMobile{
    width: 30%;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
}

.cardImagePadelManager{
    width: 60%;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
}

@media only screen and (max-width: 767px) {
    .cardDesignWrapperPadelManager{
        margin-top: 20px;
        width: 100%;
    }
    .cardImagePadelManagerDesign{
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }

    .cardImagePadelManagerMobile{
        width: 80%;
    }
    .cardImagePadelManager{
        width: 90%;
    }

}