.webDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.headerDesignWrapper {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    margin-bottom: 50px;
}

.titleColorsDesign {
    font-family: robotoWeb;
}

.gradientColorsBar {
    width: 80%;
    margin: 10px;
}

.headerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.urlDesignSpider,
.fontDesignSpider {
    font-family: barlowCondensed;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.squareYellow,
.squareBlack,
.squareBlue {
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    padding-top: 3px;

}

.squareBlue {
    background-color: #0E2C48;
}

.squareBlack {
    background-color: rgb(0, 0, 0);
}

.squareYellow {
    background-color: #FFC700;
}

.cardDesignWrapper {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    text-align: center;
}

.titleCardDesign {
    font-family: robotoWeb;
    font-size: 20px;
    margin-bottom: 20px;
}

.cardImageSpider {
    width: 60%;
    border-radius: 10px;
}

.responsiveDesignWrapper {
    text-align: center;
    width: 90%;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    margin-bottom: 30px;
}

.titleResponsiveDesign {
    font-family: robotoWeb;
    font-size: 20px;
    margin-top: 40px;
}

.responsiveWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.responMobile,
.responTablet {
    border-radius: 10px;
    width: 40%;
    margin: 20px;
}

.responDesktop {
    border-radius: 10px;
    width: 90%;
    margin: 20px;
}



.linkComeBackDesignsWrapper {
    margin: 30px;
}

.linkComeBackWebProjects,
.linkComeBackDesigns {
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-family: barlowCondensed;
    color: rgb(98, 98, 98);
    margin-bottom: 30px;
}

.linkComeBackWebProjects:hover,
.linkComeBackDesigns:hover {
    filter: drop-shadow(1px 1px 4px black);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (max-width: 767px) {
    .webDesign{
        width: 90%;
        text-align: center;
    }
    .headerDesignWrapper {
        width: 100%;
        margin-bottom: 50px;
    }

    .headerDesignWrapper,
    .buttonsColors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;

    }

    .cardDesignWrapper {
        margin-top: 20px;
        width: 100%;
    }

    .cardImageSpider {
        width: 90%;
    }

    .responsiveDesignWrapper{
        width: 100%;
    }

    .responMobile,
    .responTablet{
        width: 70%;
    }

    

}