/* botones de Social Media */


.asideNavLinks {
    width: 148px;
    position: fixed;
    top: 30%;
    right: 0;
    margin-left: 20px;
}

.linksSocialMedia {
    list-style: none;
    color: #06233bb6;
}
.linkSocialMedia:hover{
    color: #00FFFF;
}

.listSocial {
    margin-bottom: 10px;
    background-color: #45a5ff;
    border-radius: 100px;
    width: 55px;
    height: 55px;
    padding-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listSocial:hover{
    background-color: #06233B;
    box-shadow: 1px 1px 10px 1px black;
}

.linkSocialMedia {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 40, 92, 0.755);
    border-radius: 50px;
    font-size: 22px;
    margin-right: 1px;
    margin-bottom: 14px;
    color: white;
    box-shadow: 0px 0px 7px 0px black;
    filter: drop-shadow(2px 2px 6px rgb(65, 65, 65));
}

.linkSocialMedia:hover{
    background-color: #45a5ff;
    box-shadow: inset 0px 0px 2px 1px black;
}

/* Fin de botones Social Media */