.asideNavLinks {
    width: 148px;
    position: fixed;
    top: 30%;
    right: 0;
    margin-left: 20px;
}

.linksSocialMedia {
    list-style: none;
    color: #06233bb6;
}
.linkSocialMedia:hover{
    color: #000000;
}

.listSocial {
    margin-bottom: 10px;
    border-radius: 100px;
    width: 55px;
    height: 55px;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.linkSocialMedia {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003a6f;
    border-radius: 50px;
    font-size: 22px;
    margin-right: 1px;
    margin-bottom: 14px;
    color: white;
    box-shadow: 0px 0px 7px 0px black;
    filter: drop-shadow(2px 2px 6px rgb(65, 65, 65));
}

.linkSocialMedia:hover{
    background-color: #45a5ff;
    box-shadow: inset 0px 0px 2px 1px black;
}

@media only screen and (max-width: 767px) {
    .asideNavLinks{
        display: none;
    }
}
